{% extends "base.html" %}

{% block navigation %}
<nav class="breadcrumb">
    <a href="#">{{ show.title }}</a>
    <span class="separator">&gt;</span>
{#    <a href="#">Season 3</a>#}
{#    <span class="separator">&gt;</span>#}
{#    <a href="#">Episode 8</a>#}
</nav>
{% endblock %}

{% block description %}
<div class="card">
  <h2>Her you have all the details to the show:</h2>
</div>
{% endblock %}


{% block content %}
    <div class="card detailed-view">
            <div class="row">
                {% if show.trailer %}
                <div id="player">
                   <iframe class="trailer" src="{{ show.trailer }}"></iframe>
                </div>
                {% endif %}
                <div class="col col-twothird">
                    <h2>{{ show.title }}</h2>
                    <h4>{{ show.rating }} &#9734;</h4>
                    <p class="small grayed">{{ show.runtime }} min<span class="separator">|</span> {{ show.genre }} <span
                            class="separator">|</span>{{ show.year }}</p>
                    <p><b>Description: </b>{% if show.overview  %}{{show.overview }}{% endif %}</p>
                </div>
            </div>
            <div>
                <p><b>Actors: </b>&nbsp;{{ show.actors }}</p>
            </div>
        </div>
    <div class="card">
    <h2>Seasons</h2>
    <br>
      <table class="table table-sortable">
        <thead>
            <tr>
                <th></th>
                <th>Season</th>
                <th>Overview</th>
            </tr>
        </thead>
        <tbody>
            {% for season in seasons %}
            <tr>
                <td>{{ season.season_number }}</td>
                <td>{{ season.title }}</td>
                <td>{% if season.overview  %}{{season.overview }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}

{% block script %}
    <script src="../static/js/embed-youtube.js"></script>
{% endblock %}